<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.pr.notice.mapper.INoticeMapper">
	<!-- namespace는 어떤 interface를 참조하는지 지정  -->
	
	
	<!--VO객체이름과 DB의 컬럼명이 다를 때 맞춰주는 작업  -->
	<resultMap type="com.spring.pr.command.NoticeVO" id="NoticeMap">
		<!-- 기본키는 id 태그를 사용하고 나머지는 result 태그를 사용 -->
		<id column = "NOTICE_NUMBER_SEQ" property="NoticeNum"/>
		
		<result column ="NOTICE_TITLE" property = "NoticeTitle"/>
		<result column ="NOTICE_WRITER" property = "NoticeWriter"/>
		<result column ="NOTICE_CONTENT" property = "NoticeContent"/>
		<result column ="NOTICE_DATE" property = "NoticeDate"/>
		<result column ="NOTICE_FILES" property = "NoticeFile"/>
		<result column ="NOTICE_HITS" property = "NoticeHits"/>
		<result column ="MNGR_ID" property = "MNGRID"/>
		<result column ="NOTICE_FILE_REAL" property = "NoticeFileReal"/>
		

	</resultMap>
	
	<insert id="regist">
		INSERT INTO 
		Notice(NOTICE_NUMBER_SEQ, NOTICE_TITLE, NOTICE_WRITER, NOTICE_CONTENT,
			   NOTICE_FILES, NOTICE_HITS, MNGR_ID, NOTICE_FILE_REAL)
	    VALUES(NOTICE_NUMBER_SEQ_NAME.NEXTVAL, #{NoticeTitle}, #{NoticeWriter}, #{NoticeContent}, #{NoticeFile}, #{NoticeHits}, #{MNGRID},  #{NoticeFileReal}) 
	</insert>
	
	<select id ="getList" resultMap="NoticeMap">
	
		select * from notice order by notice_NUMBER_SEQ DESC	
	</select>
	
	<select id="getTotal" resultType="int">
	
		select count(*) from Notice
	
	</select>
	
	<select id = "getContent" resultMap="NoticeMap">
		select * from Notice where Notice_NUMBER_SEQ = #{NoticeNum}
	</select>
	
	<update id="update" >
		
		update Notice SET NOTICE_TITLE = #{NoticeTitle}, NOTICE_Content = #{NoticeContent}, NOTICE_FILES = #{NoticeFile}, NOTICE_FILE_REAL = #{NoticeFileReal} 
		where NOTICE_NUMBER_SEQ = #{NoticeNum}  
		
	</update>
	
	<delete id="delete">
		delete from Notice where NOTICE_NUMBER_SEQ = #{NoticeNum}
	</delete>
	
		<!-- 조회 수 증가 로직  -->
	<update id="upHit">
	
		update Notice set NOTICE_HITS = NOTICE_HITS+1
		where Notice_NUMBER_SEQ = #{NoticeNum} 
		
	</update>	
</mapper>
